openai>=1.12.0
tiktoken>=0.4.0
vllm
accelerate
ansible
ansiblemetrics
colorama
datasets
ipython
numpy
pandas
tokenizers
torch
tqdm
transformers
argcomplete
simple_term_menu
paramiko
scp
pynvml
scipy
bitsandbytes
openpyxl
docker
bs4
protobuf
sentencepiece