openai==1.3.2
tiktoken==0.4.0 # for codegen (https://huggingface.co/Salesforce/codegen25-7b-instruct)
# vllm==0.2.7
accelerate
ansible
ansiblemetrics
colorama
datasets
ipython
numpy
pandas
tokenizers
torch
tqdm
transformers # use this to support models besides codegen
#transformers==4.33.2 # use this to run codegen
#transformers==4.10.0 # use this to run santacoder
argcomplete
simple_term_menu
paramiko
scp
pynvml
scipy
bitsandbytes
openpyxl
docker
bs4
protobuf
sentencepiece